{% extends "base.html" %}

{% block content %}
	<h3>{{ title }}</h3>
	{% if user.messages %}
		<h2>{{ user.username }}</h2>
		{% for message in user.messages %}
		<div>
			<pre>{{ message.time_sent }}</pre>
			<p>{{ message.text }}</p>
		</div>
		{% endfor %}
	{% else %}
		{% for user in users %}
		<div>
			<a href= "{{ url_for('chat', username=user.username) }}">
				<img src="../../resources/placeholder.png" alt="placeholder" width="100" height="100">
				<pre>{{ user.username }}</pre>
				<pre>{{ user.message}} {{ user.time_sent }}</pre>
			</a>
		</div>
		{% endfor %}
	{% endif %}
{% endblock %}